@import "tailwindcss";
[data-panel-resize-handle] {
    width: 4px;
    background-color: #333;
    cursor: col-resize;
  }
  [data-panel-resize-handle]:hover {
    background-color: #666;
  }
  [data-panel-resize-handle][data-panel-resize-handle-state="pressed"] {
    background-color: #999;
  }
